.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    z-index: 1000;
  }  

  #create-modal{
    height: 270px;
    width: 450px; 
  }

  #done-modal{
    height: 329px;
    width:353px;
  }
  #material-modal{
    height: 570px;
    width: 450px; 
  }